<!DOCTYPE html>

<html>
<head>
	<title>Final Project Dump</title>
</head>

<body>
	<h1>Data Dump</h1>

	<p>I havent decided how I want to disply my data yet, so this page dumps a sql table into my log. </p>
</body>

</html>